.cal-button {
    /*width: 165px;*/
    height: 100%;
    position: relative;
    font-weight: 400;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
    cursor: pointer;
}

.cal-button > span {
    position: absolute;
    font-size: 4vh;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}
